<h1>Here is a list of Users</h1>
<% @users.each do |user| %>
<strong>Name: </strong><%= user.name %><br>
<strong>Bio: </strong><%= user.name %><br>
<%= image_tag user.picture %><br>
<strong>Comments: </strong><%= user.comments.count %>
<strong>Followers: </strong><%= user.followers.count %>
<hr>
<% end %>