<% if @crypto %>
<table class="table table-bordered">
  <% crypto_parse=JSON.parse(@crypto.to_s) %>
  <% crypto_parse.each do |result| %>
  <thead>
  <% result.each do |key,value| %>
        <tr>
          <th><%= key.capitalize %></th>
          <th><%= value.capitalize %></th>
          <% end %>
        </table>
        <%= form_tag cryptocurrencies_path, method: "post" do %>
          <%= hidden_field_tag "result[name]", result["name"]  %>
          <%= hidden_field_tag "result[symbol]", result["symbol"]  %>
          <%= hidden_field_tag "result[rank]", result["rank"] %>
          <%= hidden_field_tag "result[price_usd]", result["price_usd"] %>
          <%= hidden_field_tag "result[percent_change_1h]", result["percent_change_1h"] %>
          <%= hidden_field_tag "result[percent_change_24h]", result["percent_change_24h"] %>
          <%= hidden_field_tag "result[percent_change_7d]", result["percent_change_7d"] %>
          <%= button_tag "Add to Favorites", type:"submit", class:"btn btn-info" %>
          <% end %>
      <% end %>
<% end %>

