<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @posts.each do |post| %>
        <h1><%= post.title %></h1>
        <%= post.body %>
        <%= link_to 'Show', post %>
        <!-- <%= link_to 'Edit', edit_post_path(post) %> -->
        <!-- <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    <% end %>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
